@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;1,200;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Philosopher&display=swap');

body{
  margin: 0%;
  padding: 0%;
  font-family:"Montserrat", sans-serif;
}
nav{
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    align-items: center;
    border-bottom: 5px solid#6f6f6f;
}
nav h1{
  color: rgb(49, 58, 68); ;
  font-family: "Philosopher", sans-serif;
}
nav .onglets{
  margin-top: 3px;
  margin-left: 300px;
}
nav .onglets a{
  text-decoration: none;
  color: #000;
  margin-right: 10px;
  border-bottom: 1px solid #b3d4fc;
  padding-bottom: 5px;
}
 .img-grossesse{
   text-align: center;
 }
 .img-grossesse figure{
   display: flex;
   justify-content: space-evenly;
   height: 20em;
   width: 100%;
   margin-top: 3em; 
 }
 .sous-photo-gr figure{
  display: flex;
  justify-content: space-evenly;
  height: 20em;
  width: 100%;
  margin-top: 3em;
 }
 .sous-titre-grossesse article{
   text-align: center;
 }
 .img-née h1{
   text-align: center;
 }
 .img-née figure{
  display: flex;
  justify-content: space-evenly;
 height: 20em;
  width: 100%;
  margin-top: 3em;
 }
 .img-deux-née figure{
  display: flex;
  justify-content: space-evenly;
  height: 20em;
  width: 100%;
  margin-top: 3em;
 }
.sous-titre-née article{
  text-align: center;
}
.img-bb h1{
  text-align: center;
}
.img-bb figure{
  display: flex;
 justify-content: space-evenly;
  height: 20em;
  width: 100%;
  margin-top: 3em;
}
.img-deux-bb {
  display: flex;
  justify-content: space-evenly;
  height: 20em;
  width: 100%;
  margin-top: 3em;
}
.sous-titre-bb{
  text-align: center;
}

footer{
  margin: 0%;
  padding: 0%;
  font-family:"Montserrat", sans-serif;
  text-align: center;
  border-top: 5px solid#6f6f6f;
 }
 /*margin: 0;
    padding: 0;
    font-family:"Montserrat", sans-serif;
    margin-top: 3px;
    margin-left: 300px;
    border-top: 5px solid#6f6f6f; ;
    text-align: center;*/

    @media screen and (max-width:680px){
      nav .onglets{
        margin-left: 0px;
        margin-bottom: 20px;
      }
    }